.App__buttons {
  display: flex;
  justify-content: space-between;
  width: 390px;
  margin: 30px auto;
}

.App__button {
  outline: none;
  border: none;
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: #218C72;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
}
